.btn {
    padding: 0.2rem 0.7rem;
    border-radius: 0.5rem;
    color: rgb(61, 168, 234);
    border: 1px solid gray;
    background-color: lightgray;

    transition: all ease-in;
}
.btn:focus,
.btn:hover {
    color: white;
    background-color: lightslategray;
}
.title {
    text-align: center;
    font-size: 1rem;
    color: black;
    font-weight: bold;

    margin: 1rem 0;
}
